@include keyframes(fade-in) {
  from { opacity: 0; }
  to { opacity: 1; }
}
@include keyframes(blinking) {
  from, to { border-color: transparent; }
  50% { border-color: $accent; }
}
@include keyframes(typing) {
  from { width: 0; }
  to { width: 100%; }
}

// Typing animation CSS properties
// overflow: hidden;
// white-space: nowrap;
// border-right: 2px solid $accent;
// @include animation( typing 2s steps(19,end) 0s 1 normal forwards, blinking 1s step-end 0s infinite normal forwards );

@include keyframes(slide-in-ltr) {
  from { @include transform(translateX(-100px)); opacity: 0; }
  to { @include transform(translateX(0)); opacity: 1; }
}
@include keyframes(slide-in-rtl) {
  from { @include transform(translateX(100px)); opacity: 0; }
  to { @include transform(translateX(0)); opacity: 1; }
}
@include keyframes(slide-in-btt) {
  from { @include transform(translateY(100px)); opacity: 0; }
  to { @include transform(translateY(0)); opacity: 1; }
}
@include keyframes(slide-in-ttb) {
  from { @include transform(translateY(-100px)); opacity: 0; }
  to { @include transform(translateY(0)); opacity: 1; }
}
@include keyframes(scroll-down) {
  0% { @include transform(translateY(0) ); opacity: 0; }
  49%, 51% { opacity: 0.87; }
  50% { @include transform(translateY(15px) ); opacity: 0.95; }
  100% { @include transform(translateY(30px) ); opacity: 0; }
}
@include keyframes(scale-in) {
  to { @include transform(scale(1,1)); }
}

@include keyframes(pulsate) {
  0% { @include transform( scale(1,1) ); }
  10% { @include transform( scale(1.25,1.25) ); }
  20% { @include transform( scale(1,1) ); }
}

@include keyframes(screen-flicker) {
  0%   { opacity: 1; }
  13%  { opacity: 1; }
  18%  { opacity: 0; }
  92%  { opacity: 0; }
  100% { opacity: 0; } // 1 if infinite loop animation
}


// Mars landing animations
@include keyframes(small-tentacle) {
  0%   { transform: rotate(-60deg); }
  86%  { transform: rotate(-60deg); }
  89%  { transform: rotate(10deg); }
  100% { transform: rotate(10deg); }
}

@include keyframes(tentacle) {
  0%    { transform: rotate(-30deg); }
  75%   { transform: rotate(-30deg); }
  80%   { transform: rotate(-165deg) translate(6px, 8px); }
  82.5% { transform: rotate(-165deg) translate(28px, -17px); }
  100%  { transform: rotate(-165deg) translate(35px, -22px); }
}

@include keyframes(ship) {
  0% {
    right: -10%;
    top: -10%;
    margin-top: -55px;
    margin-right: -55px;
  }
  40% {
    right: 50%;
    top: 50%;
  }
  79.5% {    
    margin-top: -55px;
    margin-right: -55px;
  }
  84% {
    margin-top: -20px;
    margin-right: 0px;
  }
  100% {
    right: 50%;
    top: 50%;
    margin-top: 0px;
    margin-right: 0px;
  }
}

@include keyframes(ship-rotate) {
  0%   { transform: rotate(-110deg); }
  20%  { transform: rotate(-110deg); }
  34%  { transform: rotate(47deg); }  
  79%  { transform: rotate(47deg); } 
  100%  { transform: rotate(47deg); }
}

@include keyframes(flag-pole) {
  0%   { top: -57px; }
  48%  { top: -57px; }
  54%  { top: -77px; }
  90%  { top: -77px; }
  92%  { top: -57px; }
  100% { top: -57px; }
}

@include keyframes(flag-unfurl) {
  0%   { width: 0; }
  55%  { width: 0; }
  60%  { width: 14px; }
  90%  { width: 14px; }
  100% { width: 14px; }
}

// Heroes animations

@include keyframes(shake) { 
 78%, 80%,82%,84%,86%,88%,90%,92% { 
    top:3px;
    left:2px; 
  }
  79%,81%,83%,85%,87%,89%,91% {
    top:0px;
    left:-2px;
  } 
}

@include keyframes(mouthOpen) {
  77%{height:0px;}
  80%{
    height:22px;
  }
  93%{
    height:22px;
    opacity:1;
  }
  95%{
    height:0px;
    opacity:0;
  }
}


@include keyframes(hulkHands){
 6%{
   box-shadow: 11.1em 0 0 #b5b500;
 }
 77%{
   box-shadow: 11.1em 0 0 #b5b500;
   margin-left:-2.1em; 
   @include transform( translate(0,0) );
  }
  80%{
    margin-left:0.5em; 
    box-shadow:8.5em 0 0 #b5b500;
    @include transform( translate(-0.9em,-19.9em) );
   
  }
  93%{
    margin-left:0.5em;
    box-shadow:8.5em 0 0 #b5b500;
    @include transform( translate(-0.9em,-19.9em) );
  }
  94%{
    box-shadow: 11.1em 0 0 #b5b500;
    margin-left:-2.1em; 
    @include transform( translate(0em,-0em) );
  }
}

@include keyframes(hulkRightarm){
  77%{
    margin-top:1em;
    margin-left:2em;
    clip: rect(-1em, 11.2em, 12.55em, 7.625em);
  }
  80%{
    margin-top:-8.125em;
    margin-left:2.5em;
    clip: rect(0.563em, 13.363em, 13.75em, 6.625em);
  }
  93%{
    margin-top:-8.125em;
    margin-left:2.5em;
    clip: rect(0.563em, 13.363em, 13.75em, 6.625em);
  }
  95%{
    margin-top:1em;
    margin-left:2em;
    clip: rect(-1em, 11.2em, 12.55em, 7.625em);
  }
}
@include keyframes(hulkLeftarm){
  77%{
    margin-top:1em;
    margin-left:-4.3em;
    clip: rect(-0.188em, 6.1em, 13.875em, 2.3em);
  }
  80%{
    margin-top:-8.125em;
    margin-left:-4.375em;
    clip: rect(-0.188em, 6.563em, 13.875em, 0em);
  }
  93%{
    margin-top:-8.125em;
    margin-left:-4.375em;
    clip: rect(-0.188em, 6.563em, 13.875em, 0em);
  }
  95%{
    margin-top:1em;
    margin-left:-4.3em;
    clip: rect(-0.188em, 6.1em, 13.875em, 2.3em);
  }
}
