// Colors
$primary: #3F51B5;
$indigo: #3F51B5;
$indigo-400: #5c6bc0;
$indigo-900: #1a237e;
$light-blu: #ABC5E9;
$google-blu: #286DEA;
$warn: #EF6C00;
$alert: #E65100;
$success: #3C763D;
$success-light: #669834;
$danger: #E63125;
$heart: #B71C1C;
$black: #000;
$accent: #FF4081;
$deep-purple: #673ab7;
$deep-purple-900: #311b92;
$teal: #009688;
$teal-700: #00796b;
$gray: rgba(0, 0, 0, 0.68);
$dark-text: rgba(38, 47, 98, 0.78);
$light-white: rgba(255, 255, 255, 0.83);

// Transition curves
$quadratic-in-out: cubic-bezier(0.46, 0.03, 0.52, 0.96);
$cubic-in-out: cubic-bezier(0.65, 0.05, 0.36, 1);
$cubic-out: cubic-bezier(0.22, 0.61, 0.36, 1);
$fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1);
$bounce-in: cubic-bezier(0.36, 0.12, 0.27, 1.55);

$once: 0s 1 normal forwards;

// Space Animation
$space: #435d70;
$space-shadow: #374d5c;
$ship: #eee;
$mars: #ff5f40;
$alien: #1aae1e;
$space-anim-timing: 12s;
$space-anim-curve: cubic-bezier(0.645, 0.045, 0.355, 1);

@import 'mixins';
@import 'animations';

html {
  font-family: Roboto, Helvetica, Verdana, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a { 
  cursor: pointer; 
}

a, a:hover, a:active, a:focus, a:visited {
  text-decoration: none;
}

*::selection {
  background: rgba($accent, 0.3);
}
*::-moz-selection {
  background: rgba($accent, 0.3);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

img, h1, h2 {
  -webkit-user-select: none;  
     -moz-user-select: none;    
      -ms-user-select: none;
          user-select: none;  
}

.gradient-primary {
  @include radial-gradient($primary, $deep-purple-900);
}

.text-light {
  color: $light-white;
}

.text-primary {
  color: $indigo;
}

.text-accent {
  color: $accent;
}

.text-info {
  color: $primary;
}

.text-success {
  color: $success;
}

.text-danger {
  color: $danger;
}

.text-warn {
  color: $warn;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: right;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.collapsing .faded-edge-bottom {
  // display: none;
  opacity: 0 !important;
}

.button-top-left, .button-top-right, .button-bottom-left, .button-bottom-right {
  position: absolute;
  z-index: 25;
}

.button-top-left {
  top: 0;
  left: 0;
}

.button-top-right {
  top: 0;
  right: 0;
}

.button-bottom-left {
  bottom: 0;
  left: 0;
}

.button-bottom-right {
  bottom: 0;
  right: 0;
}

.close-button {
  color: white;
  .fa-times {
    color: rgba(white, 0.58);
  }
}

#back-to-top {
  position: fixed;
  right: 10px;
  bottom: 25px;
  z-index: 21;
  opacity: 0;
  @include transform( translateY(100px) scale(0,0) );
  @include transition( all 0.4s $cubic-in-out );

  .md-button {
    z-index: 22;
  }

  &.bring-to-screen {
    opacity: 1;
    @include transform( translateY(0px) scale(1,1) );
  }

  &.bring-to-screen.lower {
    @include transform( translateY(20px) scale(1,1) );
  }
}


md-icon {
  outline: none;
}

.fa-icon-baseline {
  vertical-align: baseline;
}

[scrolling-buttons] {
  .scroll-button-top {
    @include linear-gradient( rgba(255,255,255,1),rgba(255,255,255,0) );
    top: 0;
  }

  .scroll-button-bottom {
    @include linear-gradient( rgba(255,255,255,0),rgba(255,255,255,1) );
    bottom: 0;
  }

  .scroll-button-top, .scroll-button-bottom {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    height: 25px;
    width: 100%;
    z-index: 5;
    @include transition (visibility 0.4s, opacity 0.4s $cubic-in-out );

    &.show-button {
      opacity: 1;
      visibility: visible;
    }

    .md-button-top, .md-button-bottom {
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
    }

    .md-button-top {
      top: 0;
    }

    .md-button-bottom {
      bottom: 0;
    }
  }

  .panel-scrollable {
    max-height: 280px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

p {
  word-wrap: break-word;
}

.img-responsive {
  height: auto;
  max-width: 100%;
}

.theme-background {
  background-color: rgba(0,0,0,0.05);
}
.theme-background-light {
  background-color: rgba(0,0,0,0.02);
}

.about-content {
  position: relative;

  .about-content-padding {
    padding: 12px 30px;
  }

  .about-main-bg {
    @include radial-gradient($indigo, $indigo-900);
  }

  .section-title {
    font-size: 30px;
    padding: 15px 0 30px;
    color: $light-white;
  }

  .mouse {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: $light-white;
    height: 60px;
    width: 40px;
    border-radius: 20px;
    border: 2px solid $light-white;

    .wheel-part-1, .wheel-part-2, .wheel-part-3 {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 5px;
      width: 5px;
      border-radius: 50%;
      margin: 0 auto;
      background-color: white;
    }

    .wheel-part-1 {
      @include animation( scroll-down 1.5s linear 0s infinite normal forwards);
    }

    .wheel-part-2 {
      @include animation( scroll-down 1.5s linear 0.5s infinite normal forwards);
    }

    .wheel-part-3 {
      @include animation( scroll-down 1.5s linear 1s infinite normal forwards);
    }

  }

  .parallax-1 {
    background: rgba(0,188,212,0.6) url('/img/wilmington.jpg') no-repeat fixed center;
    background-size: cover;
    background-position-x: 0;
  }

  .parallax-2 {
    background: rgba(0,188,212,0.6) url('/img/winter.jpg') no-repeat fixed center;
    background-size: contain;
  }

  .background-wrapper {
    position: absolute;
    background-color: rgba(darken($primary, 10%), 0.67);
    
    .content-text {
      color: $light-white;

      .section-content {
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 0.045em;
      }
    }
  }

  .minimal-bg, .minimal-bg-2, .minimal-bg-3, .minimal-bg-4 {
    background-color: $indigo-400;
    color: $light-white;

  }
}

$verdeHulk: #bdbd00;
$hulkPants:#581bbb;
$body:#43abf0;
$bodyShadow:#29708f;
$white:#fff;
$whiteShadow:#ffffcb;
$red:#b63700;
$skin: #fdb0a4;
$shield:#c53905;
$ironbody:#ab3300;
$irondetail:#deb800;
$ironShadow:#c98700;
$thorbody:#004278;
$thorshadow:#00272b;
$thorskin:#ffcee7;
$thorskinShadow:#ffc688;
$hammer:#382727;
$heroes-animation: 12s;

  

#heroes-wrapper {

  *, *:before, *:after { 
  box-sizing:border-box;
  }  

  z-index: 1;  
  position:relative;
  width:550px;
  height:365px;
  margin:15% auto;
  animation: shake $heroes-animation infinite;


  .hulk{
    position:absolute;
    margin-left:200px;
    bottom:0px;
    margin-bottom:300px; 
  .head {
    width: 4.713em;
    position:absolute;
    margin-top:-2.75em;
    margin-left:3.563em;    
      border-bottom: 3.75em solid $verdeHulk;
      border-left: 0.938em solid transparent;
      border-right: 0.938em solid transparent;
      height: 0;
    z-index:10;
    &::after {
      content:"";
      width:2.25em;
      height:0.375em;
      position:absolute;
      margin-top:0.538em;
      margin-left:0.313em;
      background:#034600;
    }
    &::before{
      content:"";
      width:3.25em;
      height:0.75em;
      position:absolute;
      margin-top:-0.75em;
      margin-left:-0.25em;
      background:#034600;
      border-top-left-radius: 1.875em;
      border-top-right-radius:1.875em;
    }
  }
  .mouth {
    width:31px;
    height:0px;
    position:absolute;
    margin-top:25px;
    margin-left:8px;
    overflow:hidden;
    background-image:
          linear-gradient(
            to bottom,
            #fff,
            #fff 25%,
            #4b0a00 25%,
            #4b0a00 70%,
            #fff 75%,
            #fff 100%
          );
   border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    animation: mouthOpen $heroes-animation infinite;
    &::before{
      content:"";
      width: 10px;
      height:7px;
      position:absolute;
      background:#902e2b;
      margin-top:9px;
      margin-left:11px;
      border-top-left-radius:0.5em; 
      border-top-right-radius: 0.5em;

    }
  }
  .right-arm{
     width:13.313em;
      height:13.75em;
      margin-top:1em;
      margin-left:2em;
      border-radius:50%;
      background: #b5b500;
      position:absolute;
      clip: rect(-1em, 11.2em, 12.55em, 7.625em);
      animation: hulkRightarm $heroes-animation infinite;
    &::after{
      content:"";
      width:12.063em;
      height:9.625em;
      border-radius:50%;
      position:absolute;
      transform: translateY(1.25em);
      margin-left:-3.313em;
    }
  }
  .left-arm
  {
     width:13.313em;
      height:13.75em;
      margin-top:1em;
      margin-left:-4.3em;
      border-radius:50%;
      background: #949400;
      position:absolute;
      clip: rect(-0.188em, 6.1em, 13.875em, 2.3em);
      animation: hulkLeftarm $heroes-animation infinite;
    &::after{
      content:"";
      width: 12.063em;
      height: 9.625em;
      border-radius: 50%;
      position: absolute;
      transform: translateY(1.25em);
      margin-left: 4.563em;
    }
  }
  .fist{
     width: 4.375em;
    height: 4.375em;
    position: absolute;
    border-radius: 50%;
    margin-top: 11.7em;
    margin-left: -2.1em;
    background:#949400;
    box-shadow: 11.1em 0 0 #b5b500;
    z-index: 10;
    animation: hulkHands $heroes-animation infinite; 
  }

  .body {
    width: 12.5em;
    height: 12.5em;
    background: $verdeHulk;
    border-radius: 50%;
    position: absolute;
    box-shadow: inset
      1.125em 0 0 darken($verdeHulk, 5%),
      -0.938em 0 0 darken($verdeHulk, 10%);
    z-index:10;
    &::before{
      content:"";
      width: 0.75em;
      height: 0.75em;
      border-radius: 50%;
      position: absolute;
      margin-top: 3.125em;
      margin-left: 1.375em;
      background: darken($verdeHulk,10%);
      box-shadow: 7.625em 0 0 darken($verdeHulk, 10%);
    }
    &::after{
      content:"";
      position:absolute;
      width:0.313em;
      height:0.313em;
      border-radius:50%;
      margin-top:10em;
      margin-left:5.625em;
      background:darken($verdeHulk,10%);
      box-shadow: 0 2.625em 0 #9ac7f1
    }
  }
  .right-leg {
    width:0.625em;
    height:6.438em;
    position:absolute;
    margin-left:4.25em;
    margin-top:12.3em;
    background-image:
          linear-gradient(
            to bottom,
            darken($hulkPants,20%),
            darken($hulkPants,20%) 50%,
            darken($verdeHulk,20%) 50%,
            darken($verdeHulk,20%) 100%
          );
     animation:hulkPants2 $heroes-animation infinite ;
    &::after{
      content:"";
      width:0.938em;
      height:0.875em;
      position:absolute;
      margin-left:0.625em;
      background:darken($hulkPants, 10%);
    }
    &::before {
      content:"";
      width:1.125em;
      height:0.188em;
      position:absolute;
      margin-top:6.25em;
      margin-left:-1.125em;
      background:darken($verdeHulk,20%);
    }
  }
  .left-leg{
    width:0.625em;
    height:6.438em;
    position:absolute;
    margin-left:6.688em;
    margin-top:12.3em;
    background-image:
          linear-gradient(
            to bottom,
            $hulkPants,
            $hulkPants 50%,
            $verdeHulk 50%,
            $verdeHulk 100%
          );
    animation:hulkPants $heroes-animation infinite ;
    &::after{
      content:"";
      width:0.938em;
      height:0.875em;
      position:absolute;
      background:$hulkPants;
      margin-left:-0.938em;
    }
    &::before {
      content:"";
      width:1.125em;
      height:0.188em;
      position:absolute;
      margin-top:6.25em;
      margin-left:0.625em;
      background:$verdeHulk;
    }
  }
  }    
      
  .captain {
   position: absolute;
   z-index: 1000; 
   margin-left: 355px;
   bottom: 0px;
   margin-bottom: 146px;
     .head {
      width: 21px;
      height: 36px;
      background: $body;
      position: absolute;
      margin-top: -36px;
      margin-left: 44px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      color: $white;
      text-align: center;
      font-size: 0.6em;
      font-weight: bold; 
      &::before{
      content:"";
      width: 21px;
      height: 17px; 
      background: $skin;
      position: absolute;
      margin-left: -7px;
      margin-top: 19px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      box-shadow: inset 8px 0 0 0 darken($skin, 5%);
    }
     &::after {
      content: "";
      width: 4px;
      height: 4px;
      position: absolute;
      background: $skin;
      border-radius: 50%;
      margin-top: 16px;
      margin-left: -5px;
      
      }   
  }

   
   .body 
      {
      height: 53px;
      width: 107px; 
      border-radius: 0 0 110px 110px;
      background: $body;
      box-shadow: inset 8px 0px 0 0 $bodyShadow, inset 17px 0px 0 0 darken($body,3%);
      z-index: 5; 
      &::before {
      content:"";
      width: 133px;
      height: 30px;
      margin-left: -14px;  
      position: absolute;  
      border-radius: 30px;  
      background-image:  linear-gradient(to right,$bodyShadow, $body);
      z-index:-1;  
      }
      &::after{
      content:'';  
      width: 30px;
      height: 10px;
      position: absolute;
      margin-top: 49px;
      margin-left: 38px; 
      background-image: linear-gradient(to right, darken($red,5%), darken($red,5%) 30%, $whiteShadow 30%, $whiteShadow 70%, $red 70%, $red 100%);  
      }
       .star{
        @include star(18px,43px)
        }
     
    }
    
    .arms {
      width: 10px;
      height: 60px;
      position: absolute;
      background: $whiteShadow;
      margin-top: -30px;
      margin-left: 10px;
      box-shadow: 75px 0 0 0 $whiteShadow;
      z-index: -1;
      &::before{
        content:"";
        width: 28px;
        height: 50px;
        position: absolute;
        background: $whiteShadow;
        border-radius: 30% 50%; 
        margin-left: -18px;
        margin-top: -3px;
        box-shadow: 95px 0 0 0 $whiteShadow;
      }
    }
    .shield {
          width: 40px;
          height: 40px;
          background: $body;
          border-radius: 50%;
          position: absolute;
          z-index: 100;
          margin-left: 75px;
          margin-top: 30px;
          box-shadow: 0 0 0 8px $whiteShadow, 0 0 0 18px $shield;
          transform:rotate(-30deg);
          .star{
        @include star(15px,10px); 
        }
        }  
          
    .hands {
      width: 15px;
      height: 30px;
      position: absolute;
      margin-top: 29px;
      margin-left: 8px;  
      background: darken($red, 3%); 
      transform: skew(10deg); 
      &::before {
        content:"";
        width: 10px;
        height: 30px;
        background: darken($verdeHulk, 2%);
        position: absolute;
        margin-left: 12px;  
        transform: skew(-10deg);
        }
        &::after {
        content:"";
        width: 13px;
        height: 13px;
        border-radius: 50%;
        position: absolute;
        margin-top: 21px;
        margin-left: -1px; 
        background: darken($red, 3%);
        }  
      }
      .legs {
        width: 8px;
        height: 100px;
        background: $bodyShadow;
        position:absolute;
        margin-left: 38px;
        margin-top: 5px;
        box-shadow: 22px 0 0 0 $body;
        &::before {
          content:"";
          width: 30px;
          height: 5px;
          background: darken($red,20%);
          position:absolute;     
       }
        &::after {
        content: "";  
        width: 14px;
        height: 9px;
        background-image: linear-gradient(to right, $bodyShadow, $body);
        position: absolute;
        margin-left: 8px;  
        margin-top: 5px;
        }    
      }
      .boots {
        width: 10px;
        height: 41px;
        position: absolute;
        margin-top: 105px;
        margin-left: 37px;
        background: darken($red, 10%);
        box-shadow: 22px 0 0 0 $red;
        &::after {
          content:"";
          width: 25px;
          height: 2px;
          position: absolute;
          background: darken($red, 10%);
          margin-top: 39px;
          margin-left: -15px;
          box-shadow: 40px 0 0 0 $red;
          }
        &::before{
          content: "";
          width: 18px;
          height: 12px;
          background: darken($red, 10%);
          position: absolute;
          margin-left: -4px;
          box-shadow: 22px 0 0 0 $red;
          }  
        }  
  }    
      

  //IRONMAN

   .ironman {  
   position: absolute;
   z-index: 900; 
   margin-left: 0;
   margin-bottom:135px;  
   bottom:0;
    .helmet {
    width:22px;
    height:34px;
    background:$ironbody;
    position: absolute;
    margin-top: -33px;
    margin-left: 44px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow:hidden;
    &::before {
      content:"";
      width:7px;
      height:2px;
      background:white;
      position:absolute;
      margin-top:10px;
      margin-left:0px;
      z-index:3; 
      box-shadow:15px 0 0 0 white; 
    }  
  }    
    .mask{
      width:10px;
      height:18px;
      background:$irondetail;
      position:relative;
      margin-top:7px; 
      margin-left:6px;
      &::before {
        content:"";
        width:13px;
        height:18px;
        background:$irondetail;
        position:absolute;
        transform:rotate(60deg);   
        margin-top:-3px; 
        margin-left:4px; 
      }
      &::after {
        content:"";
        width:13px; 
        height:18px;
        background:$irondetail;
        position:absolute;
        transform:rotate(-60deg);  
        margin-top:-3px; 
        margin-left:-5px;  
      }
   }  
   .body {
     height: 53px;
      width: 107px; 
      border-radius: 0 0 110px 110px;
      background: $ironbody;
      box-shadow: inset 10px 0px 0 0 darken($ironbody,5%), inset 20px 0px 0 0 darken($ironbody,3%); 
     padding-top:11px; 
     z-index:50;
     &::before {
       content:"";
       width:32px;
       height:32px;
       background: darken( $ironbody, 5%);
       position:absolute;
       border-radius:50%;
       margin-left:-15px; 
       margin-top:-18px;
       box-shadow:105px 0 0 0 $ironbody;
       z-index:50;
     }
     &::after {
       content:"";
       width:40px;
       height:30px;
       position:absolute;
       margin-top:20px;
       margin-left:35px;
        background-image:
          linear-gradient(
            to right, 
            darken($ironbody, 5%),
            darken($ironbody, 5%) 15%,
            darken($ironbody, 3%) 15%,
            darken($ironbody, 3%) 29%,
            $ironbody 20%,
            $ironbody 20%
          );
       
     }
   }   
   .power {
     width:17px;
     height:17px;
     background:white;
     border-radius:50%;
     margin:0 auto;
     box-shadow:0 0 0 5px $irondetail; 
   }
   .left-leg {
    width:10px;
    height:90px;
    background: $ironShadow; 
    position:absolute;
    margin-left:35px;
    margin-top:12px;
    border-top-right-radius:10px;
    &::before {
      content:"";
      width:25px;
      height:65px;
      background: darken($ironbody,5%);
      position:absolute;
      border-top-right-radius:20px;
      margin-top:60px;
      margin-left:-10px;
      
    }
  }
  .right-leg {
    width:10px;
    height:90px;
    background: $irondetail; 
    position:absolute;
    margin-left:65px;
    margin-top:12px;
    border-top-left-radius:10px;
    &::before {
      content:"";
      width:25px;
      height:65px;
      background: $ironbody;
      position:absolute;
      border-top-left-radius:20px;
      margin-top:60px;
      margin-left:-5px;
      
    }
    
  }

  .left-arm{ 
    width:10px;
    height:45px;
    background:$ironShadow;
    position:absolute;
    margin-left:-6px;
    margin-top:18px;
    border-bottom-left-radius:20px;
    &::before {
      content:"";
      height: 60px;
      width: 31px; 
      border-radius: 60px 0px 0px 60px;
      background: darken($ironbody,5%);
      position:absolute;
      margin-top:30px;
      margin-left:-21px;
      z-index:-1;  
    }
    &::after {
      content:"";
      width:10px;
      height:10px;
      border-radius:50%;
      background: darken($ironbody,5%);
      position:absolute;
      margin-top:80px;
      margin-left:5px;
      
    }
  }

     
  .right-arm{ 
    width:10px;
    height:45px;
    background:$ironShadow;
    position:absolute;
    margin-left:105px;
    margin-top:18px;
    border-bottom-right-radius:20px;
    &::before {
      content:"";
      height: 60px;
      width: 31px; 
      border-radius: 0px 60px 60px 0px;
      background: $ironbody;
      position:absolute;
      margin-top:30px;
      margin-left:0px;
      z-index:-1;  
    }
    &::after {
      content:"";
      width:10px;
      height:10px;
      border-radius:50%;
      background:$ironbody;
      position:absolute;
      margin-top:80px;
      margin-left:-5px;
      
    }
  }   
    
     
  }




  //THOR
  .thor{
    position:absolute;
    margin-left:118px; 
    z-index:1000;
    margin-bottom:220px; 
    bottom:0;
    .helmet{
        width: 0;
        height: 0;
        position:absolute;
        border-left: 18px solid transparent;
        border-right: 18px solid transparent;
        border-bottom: 40px solid #d7a900;
        margin-top:-40px;
        margin-left:42px;
        box-shadow:0 -18px 0 -16px #66999a; 
      &::before {
        content:"";
        width:13px;
        height:25px;
        position:absolute;
        background:#66999a;
        margin-left:-19px; 
        margin-top:-12px;
        border-bottom-left-radius:10px;
        border-top-right-radius:15px;
        box-shadow:inset -3px 0px 0 transparent; 
      }
      &::after {
        content:"";
        width:13px;
        height:25px;
        position:absolute;
        background:#89b9ef;
        margin-left:10px; 
        margin-top:-12px;
        border-bottom-right-radius:10px; 
        border-top-left-radius:15px;
        box-shadow:inset -3px 0px 0 transparent;
      }
    }
    .head {
      width:21px;
      height:40px;
      background-image:linear-gradient(#72a9d5, #72a9d5 32%,#ffdeef 10%);
      position:absolute;
      margin-top:-40px;
      margin-left:50px;
      border-radius:30px 30px 0 0;
      overflow:hidden;
      &::after {
        content:"";
          width:10px;
          height:17px;
          background:#d7a900;
          position:absolute;
          border-radius:10px 10px 0px 0px;
          margin-top:20px;
          margin-left:5px;
      }
      .beard{
        width:21px;
        height:5px;
        background:#d7a900;
        position:absolute;
        margin-top:12px; 
        &::before {
          content:"";
          width:11px;
          height:5px;
          background:#d7a900;
          position:absolute;
          margin-left:12px;
          margin-top:17px;
          transform:rotate(-40deg); 
        }
        &::after {
          content:"";
          width:11px;
          height:5px;
          background:#d7a900;
          position:absolute;
          margin-left:-3px;
          margin-top:17px;
          transform:rotate(40deg); 
        }
      }
    }
  .body {
    border-top: 65px solid $thorbody;
    border-left: 40px solid transparent;
    border-right:40px solid transparent;
    height: 0;
    width: 120px;
    position:absolute;
    &::before {
      content:"";
      width:40px;
      height:5px;
      position:absolute;
      background-image: linear-gradient(to right, #c98700, #d7a900);
    }
    &::after {
      content:"";
      width:30px;
      height:30px;
      border-radius:50%;
      position:absolute;
      background:#94bdef;
      margin-top:-60px;
      margin-left:-17px;
      box-shadow:45px 0 0 0 #94bdef,
        10px 29px 0 -5px #94bdef,
        35px 29px 0 -5px #94bdef
        ;
    }
  }
    .arm-right {
      width:40px;
      height:40px;
      background:$thorskin;
      border-radius:50%;
      position:absolute;
      margin-left:100px;
      box-shadow:-5px 0 0 $thorskin, -10px 0 0 $thorskin,-15px 0 0 $thorskin,   -20px 0 0 $thorskin, -20px 90px 0 -15px $thorskin, -20px 95px 0 -15px $thorskin, -20px 100px 0 -15px $thorskin  
        ;
      &::before {
        content:"";
        width:40px;
        height:100px;
        position:absolute;
        background:$thorskin;
        margin-left:-5px;
        margin-top:10px;
        border-bottom-right-radius:30px;
      }
      &::after {
        content:"";
        width:10px;
        height:5px;
        background:#290000;
        position:absolute;
        margin-top:113px;
        margin-left:-5px;
      }
    }
    .arm-left {
      width:40px;
      height:40px;
      background:$thorskinShadow;
      border-radius:50%;
      position:absolute;
      margin-left:0px;
      box-shadow:-5px 0 0 $thorskinShadow, -10px 0 0 $thorskinShadow,-15px 0 0 $thorskinShadow,   -20px 0 0 $thorskinShadow, 0 90px 0 -15px $thorskinShadow,0 95px 0 -15px $thorskinShadow, 0 100px 0 -15px $thorskinShadow; 
      &::before {
        content:"";
        width:40px;
        height:100px;
        position:absolute;
        background:$thorskinShadow;
        margin-left:-15px;
        margin-top:10px;
        border-bottom-left-radius:30px;
      }
      &::after {
        content:"";
        width:10px;
        height:5px;
        background:#290000;
        position:absolute;
        margin-top:113px;
        margin-left:15px; 
      }
    }
    
    .legs{
      width:13px;
      height:67px;
      background:darken($thorbody,7%);
      position:absolute;
      margin-top:70px;
      left:40px;
      border-radius:0 0 30px 30px;
      box-shadow:27px 0 0 0 $thorbody;
      &::before {
        content:"";
        width:10px;
        height:75px;
        position:absolute;
        background:darken($thorbody,7%);
        margin-left:5px;
        box-shadow: 0 75px 0 0 #b75600, 21px 0 0 0 $thorbody, 21px 75px 0 0 #ce9700;
      }
      &::after {
        content:"";
        width:11px;
        height:10px;
        background-image: linear-gradient(darken($thorbody,7%), $thorbody);
        position:absolute;
        margin-left:15px;
      }
    }
    .cap {
      width:120px;
      height:200px;
      position:absolute;
      background:#a72300;
      z-index:0;
      box-shadow:inset 10px 0 0 #721200, inset 20px 0 0 #7b1e00; 
    }
    .hammer {
      width:42px;
      height:27px;
      position:absolute;
      background: $hammer; /* fallback */
    background: 
      linear-gradient(135deg, transparent 5px, $hammer 0) top left,
      linear-gradient(225deg, transparent 5px, $hammer 0) top right,
      linear-gradient(315deg, transparent 5px, $hammer 0) bottom right,
      linear-gradient(45deg,  transparent 5px, $hammer 0) bottom left; 
    background-size: 52% 52%; 
    background-repeat: no-repeat;
      margin-top:148px;
      margin-left:1px;
      &::before{
        content:"";
        width:6px;
        height:25px;
        background:darken($hammer,5%);
        position:absolute;
        margin-top:-23px;
        margin-left:18px;
      }
      &::after {
        content:"";
        width:6px;
        height:3px;
        position:absolute;
        background:darken($hammer,5%);
        margin-top:25px;
        margin-left:18px;
      }
    }
    .feet {
      width:25px;
      height:2px;
      position:absolute;
      background:#b75600;
      margin-top:220px;
      margin-left:30px; 
      box-shadow:36px 0 0 #ce9700;
      &::after {
       content:""; 
       height:10px;
       width:20px;
       position:absolute; 
       border-radius: 90px 90px 0 0;
       background:#ce9700;
       margin-top:-85px;
       margin-left:8px; 
      box-shadow:24px 0 0 #b75600;  
      }
    }
  }      
      
}

@include keyframes(shake) { 
 78%, 80%,82%,84%,86%,88%,90%,92% { 
    top:3px;
    left:2px; 
  }
  79%,81%,83%,85%,87%,89%,91% {
    top:0px;
    left:-2px;
  } 
}

@include keyframes(mouthOpen) {
  77%{height:0px;}
  80%{
    height:22px;
  }
  93%{
    height:22px;
    opacity:1;
  }
  95%{
    height:0px;
    opacity:0;
  }
}


@include keyframes(hulkHands){
 6%{
   box-shadow: 11.1em 0 0 #b5b500;
 }
 77%{
   box-shadow: 11.1em 0 0 #b5b500;
   margin-left:-2.1em; 
   @include transform( translate(0,0) );
  }
  80%{
    margin-left:0.5em; 
    box-shadow:8.5em 0 0 #b5b500;
    @include transform( translate(-0.9em,-19.9em) );
   
  }
  93%{
    margin-left:0.5em;
    box-shadow:8.5em 0 0 #b5b500;
    @include transform( translate(-0.9em,-19.9em) );
  }
  94%{
    box-shadow: 11.1em 0 0 #b5b500;
    margin-left:-2.1em; 
    @include transform( translate(0em,-0em) );
  }
}

@include keyframes(hulkRightarm){
  77%{
    margin-top:1em;
    margin-left:2em;
    clip: rect(-1em, 11.2em, 12.55em, 7.625em);
  }
  80%{
    margin-top:-8.125em;
    margin-left:2.5em;
    clip: rect(0.563em, 13.363em, 13.75em, 6.625em);
  }
  93%{
    margin-top:-8.125em;
    margin-left:2.5em;
    clip: rect(0.563em, 13.363em, 13.75em, 6.625em);
  }
  95%{
    margin-top:1em;
    margin-left:2em;
    clip: rect(-1em, 11.2em, 12.55em, 7.625em);
  }
}
@include keyframes(hulkLeftarm){
  77%{
    margin-top:1em;
    margin-left:-4.3em;
    clip: rect(-0.188em, 6.1em, 13.875em, 2.3em);
  }
  80%{
    margin-top:-8.125em;
    margin-left:-4.375em;
    clip: rect(-0.188em, 6.563em, 13.875em, 0em);
  }
  93%{
    margin-top:-8.125em;
    margin-left:-4.375em;
    clip: rect(-0.188em, 6.563em, 13.875em, 0em);
  }
  95%{
    margin-top:1em;
    margin-left:-4.3em;
    clip: rect(-0.188em, 6.1em, 13.875em, 2.3em);
  }
}


.footer--love {
  position:absolute;
  right: 1.5rem;
  bottom: 2.5rem;
  font-size: 0.85rem;
  font-family: 'Lato', sans-serif;
  z-index:9999;
  .love-heart {
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/42764/heart-smil.svg);
    width:16px;
    height:16px;
    display:inline-block;
    margin:0 5px 0 2px; 
    vertical-align:top;
  }
  a {color:#43abf0;}
}



.blog-content {
  .line-break {
    width: 100%;
  }
  .page-subheader {
    margin: 16px 0 8px;
  }
  .page-subheader, .medium-story-card {
    max-width: 100%;
    width: 800px;

    .avatar-image {
      border-radius: 50%;
    }

    .card-title {
      color: $teal;
      font-weight: 500;
      &:hover, &:focus, &:active {
        color: $teal-700;
      }
    }

    .medium-story-title {
      font-size: 22px;
      font-weight: 600;
      color: rgba($black, 0.8);
    }

    .medium-story-subtitle {
      font-size: 18px;
      font-weight: 300;
      color: rgba($black, 0.44);
      padding-top: 0;
    }
  }
}

.content-container {
  position: relative;
}

[ui-view="form-content"] {

  &.ng-enter, &.ng-leave {
    position: absolute;
    left: 0;
    right: 0;
    @include transition( all 700ms $fast-out-slow-in );
  }
  // Starting the entering transition...
  &.ng-enter {
    opacity: 0;
    @include transform( scale3d(0.5, 0.5, 0.5) );
  }
  // Finish the enter transition
  &.ng-enter-active {
    opacity: 1;
    @include transform( scale3d(1,1,1) );
  }
  // Start the leave transition...
  &.ng-leave {
    opacity: 1;
    @include transform( translate3d(0, 0, 0) );
  }
  // Finish leaving
  &.ng-leave-active {
    opacity: 0;
    @include transform( translate3d(0, 400px, 0) );
  }
}

.contact-form {
  .send-button {
    padding: 4px 40px;
  }

  .dark-icon {
    [data-id="contact-icon"] > * {
      fill: #9e9e9e;
    }
  }

  .md-headline {
    font-weight: 600;
  }

  .md-subhead {
    font-size: 15px;
  }

  .icon-success {
    @include transform( scale(0,0)); 
    @include animation( scale-in 700ms $bounce-in 1.5s 1 normal forwards );
  }
}

.skill-list {

  .icon-card {
    height: auto;
    max-width: 150px;
    @include transition( all 300ms $cubic-in-out );
    
    md-card-content {
      md-icon {
        @include transition( all 300ms $cubic-in-out );

        &.icon-contain {
          width: auto;
          height: auto;
        }
      }
    }

    md-card-footer {
      background-color: $indigo;
      @include transition( all 300ms $cubic-in-out );

      .icon-name {
        @include transition( all 300ms $cubic-in-out );
        color: $light-white;
        font-size: 18px;
        text-align: center;
        margin: 0;
      }    
    }
    
    // Hover for all cards (clickable and non-clickable)
    &:hover {
      md-card-footer {
        background-color: $light-white;

        .icon-name {
          color: $indigo;
          white-space: normal;
          // font-size: 20px;
        }    
      }
    }
    
    // Clickable cards
    &[ng-click] {
      cursor: pointer;
      @include box-shadow( 0 1px 5px 0 rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12) );

      &:focus, &:visited, &:active {
        outline: none;
        border: 5px solid rgba($indigo, 0.82);
        @include box-shadow( 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12) );
      }

      &:hover {
        @include box-shadow( 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12) );
        md-icon {
          @include transform( scale(1.15, 1.15) );
        }

        
      }
    }

    &:not([ng-click]) {
      md-card-content {
        padding: 8px;
      }
    }

  }
}


.progress-spinner {
  z-index: -1;

  &[md-mode="indeterminate"] {
    z-index: 30;
  }
}

.capitalize {
  text-transform: capitalize;
}

.limit-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.custom-ink-ripple {
  button.md-ink-ripple {
    color: $google-blu;

    &:hover {
      background-color: rgba($google-blu, 0.1);
    }

    &.md-focused {
      background-color: rgba($google-blu, 0.2);
    }
  }
}

#menu-sidenav {
  
  .nav-header {
    margin: 8px 48px;
    box-sizing: border-box;
    position: relative;

    .my-logo {
      height: auto;
      width: 100%;
    }

    .initials-overlay {
      position: absolute;
      font-size: 29px;
      top: 95px;
      left: 113px;
      opacity: 0;
      @include transform(translateX(-100px)); 
      @include animation( slide-in-ltr 1s $cubic-out 8.5s 1 normal forwards );

    }
  }

  .menu-item {
    color: $light-white;
    font-size: 16px;
    border-bottom: 1px solid $light-blu;

    &:first-child {
      border-top: 1px solid $light-blu;
    }

    &:hover, &:focus {
      background-color: lighten($primary, 5%);
      .route-icon {
        @include transform( scale(1.5, 1.5) );
      }
    }

    .ink-bar {
      height: 100%;
      width: 5px;
      color: $accent;
      background-color: $accent;
      position: absolute;
      left: 0;
      top: 0;
      @include transition( all 600ms $cubic-in-out );

      &.ng-hide {
        @include transform( scale(0,0) );
      }
    }

    .route-icon {
      margin: 2px 16px 2px 0px;
      @include transition( all 400ms $cubic-in-out );
    }

    .md-button {
      margin: 0;
      padding: 8px 16px;
    }

    .md-button:hover, .md-button:focus {
      background-color: transparent;

      &.md-ripple-container {
        display: none;
      }
    }
  }

}

md-toolbar {
  .md-toolbar-tools {
    .toolbar-title {
      font-size: 40px;
    }
  }
}

#landing {
  background: rgba(0,188,212,0.6) url('/img/city-defocused-sm.jpeg') no-repeat fixed center;
  background-size: cover;

  .landing-text-main, .landing-text-secondary {
    color: #fff;
    text-shadow: 0 0px 12px rgba(180,180,180,0.7);
    opacity: 0;
  }

  .landing-text-main {
    font-size: 7vw;
  }

  .landing-text-secondary {
    font-size: 4vw;
  }

  .cta {
    opacity: 0;

    > .cta-button {
      font-size: 1em;
      margin: 30px 0;
      padding: 8px 5em;
    }

    .custom-button {
      background-color: #EDE7F6;
      color: #607D8B;
    }
  }
}

#footer {
  z-index: 1;
  height: 45px;
  opacity: 1;
  visibility: visible;
  padding: 2px 24px;
  background-color: #fcfcfc;
  @include box-shadow( 0 0 12px 0 rgba(0, 0, 0, 0.19) );
  @include transition( all 500ms $cubic-in-out, visibility 1ms );

  &.collapsed {
    height: 0;
    border: 0;
    opacity: 0;
    visibility: hidden;
    padding: 0;
  }

  p {
    color: rgba(0,0,0,0.45);
    margin: 0;
    padding: 2px;
    font-size: 13px;
    line-height: 15px;
    height: 20px;
  }

  .fa-heart {
    color: $heart;
    @include animation( pulsate 1.5s $cubic-in-out 0s infinite normal forwards );
  }

}

#collapse-footer {
  position: relative;
  
  .collapse-button {
    position: absolute;
    left: 0;
    top: -68px;
    z-index: 1;
    @include transition( all 0.6s $cubic-in-out );
    @include transform( translate(0px, -2px) );

    md-icon {
      color: $heart;
      @include transition( all 0.6s $cubic-in-out );
    }

    &.rotated {
      @include transform( translateY(30px) rotate(45deg) );

      md-icon {
        color: #55B53F;
      }
    }
  }
}

.layout-margin > ui-view, .layout-padding > ui-view, .layout-margin > [ui-view], .layout-padding > [ui-view] {
  margin: 0;
  padding: 0;
}

.display-on-mobile {
  opacity: 0;
  visibility: hidden;
}

@media screen and (max-width: 599px) {
  #heroes-wrapper {
    @include transform( scale(0.65, 0.65) );
  }

  #landing {
    .landing-text-main {
      font-size: 2.5em;
    }

    .landing-text-secondary {
      font-size: 1.5em;
    }
  }

  .layout-padding {
    padding: 0;

    * {
      padding: 2px;
    }
  }
}

@media screen and (max-width: 959px) {

  .hide-on-mobile {
    display: none;
  }

  .display-on-mobile {
    opacity: 1;
    visibility: visible;
  }

}


.screen-light {
  height: 94px;
  width: 168px;
  background: $space;
  opacity: 1;
  position: absolute;
  z-index: 3;
  top: 45px;
  left: 76px;
  pointer-events: none;
  @include box-shadow( inset 0 0 5px $gray);
  @include animation( screen-flicker $space-anim-timing $space-anim-curve $once);
}

.space {
  pointer-events: none;
  position: absolute;
  top: 63px;
  left: 42px;
  width: 160px;
  height: 80px;
  @include transform( scale(0.5, 0.5) );
  z-index: 1;
  
  .mars {
    position: absolute;    
    top: 50%;
    left: 50%;
    z-index: 2;
  
    .tentacle {
      position: absolute;
      top: -60px;
      right: -80px;
      z-index: 1;
      height: 70px;
      width: 70px;
      box-sizing: border-box;
      border-radius: 100%;
      border-left: 15px solid $alien;
      transform: rotate(-30deg);
      @include animation( tentacle $space-anim-timing $space-anim-curve $once);
    }
    
    .flag {
      position: absolute;
      height: 17px;
      width: 15px;
      top: -57px;
      left: -1px;
      @include animation( flag-pole $space-anim-timing $space-anim-curve $once);
      
      &:before {
        content: "";
        position: absolute;
        height: 17px;
        width: 2px;
        background: #eee;
      }      
      &:after {
        content: "";
        position: absolute;
        height: 10px;
        width: 14px;
        left: 2px;
        top: 0;
        background: $accent;
        @include animation( flag-unfurl $space-anim-timing $space-anim-curve $once);
      }
      .small-tentacle {
        position: absolute;
        left: -16px;
        top: 3px;
        height: 50px;
        width: 50px;
        border-left: 10px solid $alien;
        border-radius: 100%;
        transform: rotate(25deg);
        @include animation( small-tentacle $space-anim-timing $space-anim-curve $once);
        z-index: 2;
      }
    }    

    .planet {
      box-sizing: border-box;
      position: absolute;
      border-radius: 100%;
      height: 120px;
      width: 120px;
      overflow: hidden;
      margin-left: -60px;
      margin-top: -60px;
      z-index: 2;
      
      .surface {
        position: absolute;
        border-radius: 100%;
        height: 140%;
        width: 140%;
        top: -30%;
        right: -10%;
        box-sizing: border-box;
        border: 30px solid rgba(0,0,0,.15);
        background: $mars;
      }
      .crater1,
      .crater2,
      .crater3{
        position: absolute;
        border-radius: 100%;
        background: rgba(0,0,0,.15);
        box-shadow: inset 3px 3px 0 rgba(0,0,0,.2);
      }
      .crater1 {
        height: 20px;
        width: 20px;
        top: 32%;
        left: 17%;
      }
      .crater2 {
        height: 10px;
        width: 10px;
        top: 26%;
        left: 55%;
        box-shadow: inset 2px 2px 0 rgba(0,0,0,.2);
      }
      .crater3 {
        height: 10px;
        width: 10px;
        top: 60%;
        left: 40%;
        box-shadow: inset 2px 2px 0 rgba(0,0,0,.2);
      }
    }
  }
  .ship {
    position: absolute;
    right: 50%;
    top: 50%;
    margin-top: -30px;
    margin-right: -30px;
    height: 22px;
    background: rgba(0,0,0,.1);
    transform-origin: 0% 100% 0;
    z-index: 1;
    @include animation( ship $space-anim-timing $space-anim-curve $once);
    
    .ship-rotate {
      position: absolute;
      height: 22px;
      transform: rotate(-110deg);
      @include animation( ship-rotate $space-anim-timing $space-anim-curve $once);
    }    
    .pod {
      position: absolute;
      top: 0;
      left: -8px;
      height: 16px;
      width: 16px;
      background: $ship;
      border-radius: 100% 0 100% 0;
      transform: rotate(-45deg);
    }
    .fuselage {
      position: absolute;
      top: 14px;
      left: -6px;
      height: 8px;
      width: 12px;
      background: $ship;
      border-radius: 100% 100% 0 0;
      
      &:after {
        content: "";
        position: absolute;
        left: 2px;
        top: 100%;
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 6px solid red;
      }
    }
  }
}