<header class="nav-header layout-row">
  <a ui-sref="home" class="flex">
    <h5 class="text-accent overlay-text" ng-cloak>{{ 'DM' }}</h5>
    <md-icon md-svg-icon="self-logo" aria-label="My logo" class="my-logo"></md-icon>
  </a>
</header>

<md-list>
  <md-list-item ng-repeat="route in routes" ui-sref="{{ ::route.url }}" class="menu-item">
    <div class="ink-bar" ng-show="activeRoute === route.url"></div>
    <md-icon md-svg-icon="{{ ::route.icon }}" class="route-icon"></md-icon>
    <span flex>{{ ::route.name }}</span>
  </md-list-item>
</md-list>
