<!-- <toolbar title="Summary"></toolbar> -->

<md-content class="flex about-content layout-column">
  
  <div class="layout-row layout-fill" flex="auto">
    <div class="flex-100 layout-column layout-align-center-stretch about-main-bg">
      
      <h3 class="section-title">About Me!</h3>

      <div id="heroes-wrapper">
        <div class="frame-size">
          <div class="hulk">
            <div class="head"><div class="mouth"></div></div>
            <div class="right-arm"></div>
            <div class="fist"></div>
            <div class="left-arm"></div>
            <div class="body"></div>
            <div class="right-leg"></div>
            <div class="left-leg"></div>
          </div>
          
          <div class="captain">
            <div class="head">A</div>
            <div class="body"><div class="star"></div></div>
            <div class="arms"></div>
            <div class="shield"><div class="star"></div></div> 
            <div class="hands"></div>
            <div class="legs"></div>
            <div class="boots"></div>
          </div>
          
          <div class="ironman">
            <div class="helmet"><div class="mask"></div></div>
            <div class="right-arm"></div>
            <div class="left-arm"></div>
            <div class="body"><div class="power"></div></div>
            <div class="right-leg"></div>
            <div class="left-leg"></div>
          </div>  

          <div class="thor">
            <div class="helmet"></div>
            <div class="head"><div class="beard"></div></div>
            <div class="cap"></div>
            <div class="arm-right"></div>
            <div class="arm-left"></div>
            <div class="body"></div>
            <div class="hammer"></div>
            <div class="legs"></div>
            <div class="feet"></div>
          </div> 
        </div>
      </div>

      <div class="mouse">
        <div class="wheel-part-1"></div>
        <div class="wheel-part-2"></div>
        <div class="wheel-part-3"></div>
      </div>

    </div>
  </div>
  
  <div class="layout-row layout-fill" flex="auto">
    <div class="flex-100 background-wrapper layout-row layout-fill">
      <div flex="100" flex-sm="60" flex-md="55" flex-gt-md="40" class="about-content-padding content-text">
        <h3 class="section-title">Background</h3>
        <p class="section-content">I have always been fascinated by technology. Since elementary school, I've been looking for ways to build cool things in a logical way. I remember my first interaction was drawing a house using Turbo Pascal with Turtle graphics when I was 6. </p>
        <p class="section-content">As time progressed I moved into more complex things. I attended college and graduated with a major in MIS, and during that time I supplemented my studies with online courses on programming.</p> 
        <p class="section-content">Not being satisfied with the results of my education, I decided to attend Viking Code School shortly after graduation. VCS is a 15-week intensive program that teaches modern programming languages and frameworks to turn you into a professional full-stack web engineer.</p>
        <p class="section-content">Since then I've worked in multiple exciting projects at the City of Raleigh and continued building helpful tools and applications.</p>
      </div>
    </div>
    <div class="layout-column layout-align-center-center minimal-bg parallax-1 flex-100"></div>
  </div>
  
<!--   <div class="layout-row layout-fill">
    <div class="flex-50 md-padding">
      <p class="section-content">I am most familiar working with Ruby, Rails, and PostgreSQL in the back end, and HTML5, CSS3, Javascript, and AngularJS in the front end. Some frameworks and libraries that I use include Bootstrap, and jQuery. Other supporting practices I use are Github, Heroku, AWS, Surge, Sass and Grunt.</p>
      <p class="section-content">One of my recently deployed applications is MapMyJob which is an Angular 1.X application to help young residents of Raleigh find part-time park opportunities near them. You can find more projects in <a href="https://github.com/david-meza" target="_blank">my Github page.</a></p>
    </div>
    <div class="flex-50 layout-column layout-align-center-center minimal-bg-2">
      <h3 class="section-title">My Recent Projects</h3>
    </div>
  </div>
  
  <div class="layout-row layout-fill">
    <div class="flex-50 layout-column layout-align-center-center minimal-bg-3">
      <h3 class="section-title">What I'm looking for</h3>
    </div>
    <div class="flex-50 md-padding">
      <p class="section-content">I have a strong desire to grow as a programmer. I am always striving to commit better code, and I want to work for a company that expects that of me.</p>
      <p class="section-content">While I would be most comfortable to work at a place which employs the technologies I am familiar with, I pick up languages and frameworks quickly and would be happy to acquire new skills and knowledge.</p>
      <p class="section-content">I am interested in back-end, front-end and full-stack positions.</p>
    </div>
  </div>
  
  <div class="layout-row layout-fill">
    <div class="flex-50 md-padding">
      <p class="section-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit molestiae, hic temporibus! Distinctio molestiae corporis vitae libero minus ullam placeat animi, accusantium, repellendus illum ratione repellat beatae, veniam sunt! Obcaecati!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero maiores illo, nesciunt quisquam quam alias, rem, modi, itaque hic facilis sunt aliquid cupiditate temporibus ab! Commodi, vel natus? Molestias, maiores!</p>
    </div>
    <div class="flex-50 layout-column layout-align-center-center minimal-bg-4">
      <h3 class="section-title">Fun Facts</h3>
    </div>
  </div> -->

</md-content>












