<toolbar title="Projects"></toolbar>

<md-content class="flex layout-padding">

  <div class="layout-row layout-wrap layout-align-center-stretch">
    <md-card ng-repeat="project in projects" flex="100" flex-gt-sm="45" flex-gt-md="30">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{ ::project.name }}</span>
          <span class="md-subhead">{{ ::project.description }}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-actions layout="row" layout-align="start center">
        <md-button ng-href="{{ ::project.demoUrl }}" class="md-accent">Demo</md-button>
        <md-button ng-href="{{ ::project.githubUrl }}" class="" >Source Code</md-button>
      </md-card-actions>
    </md-card>
  </div>
  
</md-content>